<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="interface">

        <header class="header">

            <div class="menu-title">
                <div class="menu-icon" onclick="openMenu()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <a href="../home_page/index.html"><h1>Dota</h1></a>
            </div>

            <div class="account">
                <a href="./index.html">Sign Up</a>
                <a href="./index.html">Log In</a>
            </div>

        </header>

        <main class="main">

          <div class="register-container">
            <div class="register">

              <div class="sign-up">
                <h3>Sign Up</h3>
                <form>
                    <fieldset class="register-fieldset"><label for="login-email"><legend>Email</legend></label>
                        <input class="register-input" id="login-email" type="text" placeholder="Email">
                    </fieldset>
                    <fieldset class="register-fieldset"><label for="login-password"><legend>Password</legend></label>
                        <input class="register-input" id="login-password" type="password" placeholder="**********">
                    </fieldset>
                    <button>Log In</button>
                </form>
              </div>
              
              <div class="log-in">
                <h3>Log In</h3>
                <form>
                    <fieldset class="register-fieldset"><label for="signin-name"><legend>Name</legend></label>
                        <input class="register-input" id="signin-name" type="text" placeholder="Name">
                    </fieldset>
                    <fieldset class="register-fieldset"><label for="signin-email"><legend>Email</legend></label>
                        <input class="register-input" id="signin-email" type="email" placeholder="Email">
                    </fieldset>
                    <fieldset class="register-fieldset"><label for="signin-password"><legend>Password</legend></label>
                        <input class="register-input" id="signin-password" type="password" placeholder="**********">
                    </fieldset>
                    <fieldset class="register-fieldset"><label for="signin-confirm-password"><legend>Confirm password</legend></label>
                        <input class="register-input" id="signin-confirm-password" type="password" placeholder="**********">
                    </fieldset>
                    <button>Sign Up</button>
                </form>
              </div>
  
            </div>
          </div>

        </main>

        <footer class="footer">
            All rights reserved
        </footer>

        <aside class="sidebar">
            <h3>Characters Attributes Types</h3>
            <button class="close-sidebar" onclick="closeMenu()" >X</button>
            <ul>
                <a href="./index.html"><li>Strenght</li></a>
                <a href="./index.html"><li>Agillity</li></a>
                <a href="./index.html"><li>Intelligence</li></a>
            </ul>
        </aside>

        </div>
    <script>
        
        function  openMenu() { document.querySelector('.sidebar').classList.add('open') };
        function closeMenu() { document.querySelector('.sidebar').classList.remove('open') };

    </script>
</body>
</html>