<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/b674a926c6.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="interface">

        <header class="header">

            <div class="menu-title">
                <div class="menu-icon" onclick="openMenu()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <a href="../home_page/index.html"><h1>Dota</h1></a>
            </div>

            <div class="account">
                <a href="../register/index.html">Sign Up</a>
                <a href="../register/index.html">Log In</a>
                <a href="../profile/index.html">
                  <div>
                    <i class="fas fa-user"></i>
                  </div>
                </a>
            </div>

        </header>
        <main class="main">
            
        </main>
        <footer class="footer">
            All rights reserved
        </footer>
        <aside class="sidebar">
            <h3>Characters Attributes Types</h3>
            <button class="close-sidebar" onclick="closeMenu()" >X</button>
            <ul>
                <a href="./index.html"><li>Strenght</li></a>
                <a href="./index.html"><li>Agillity</li></a>
                <a href="./index.html"><li>Intelligence</li></a>
            </ul>
        </aside>
    </div>
    <script>

        function openMenu() {
            document.querySelector('.sidebar').classList.add('open');
        }

        function closeMenu() {
            document.querySelector('.sidebar').classList.remove('open');
        }

    </script>
</body>
</html>