/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html {
    font: 1.6rem;
    font-family: Helvetica;
}

/* interface */
.interface{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 4rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    height: 100vh;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #808080;
    grid-area: header;
}
.menu-title{
    display: flex;
    align-items: center;
}
.menu-title a{
    font-size: 4.4rem;
    color: #222222;
    text-decoration: none;
}
.menu-title a:hover{
    color: #ffffff;
}
.menu-icon{
    padding: 6px
}
.menu-icon:hover div{
    background-color: #ffffff;
}
.menu-title{
    font-size: 3rem;
}
.menu-icon div{
    width: 2.4rem;
    height: .3rem;
    background-color: #222222;
    margin: .5rem .4rem .5rem .4rem;
}
.account {
    display: flex;
    align-items: center;
}
.account a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #222222;
    padding: 1rem 2rem 1rem 0;
    font-weight: bold;
}
.account a:hover{
    color: #ffffff;
}
.account i{
    font-size: 1.6rem;
    padding: .4rem .5rem;
    border-radius: 50%;
    border: .2rem #222222 solid;
}
.account a:hover i{
    border-color: #ffffff;
}

/* sidebar */
.sidebar{
    position: fixed;
    height: 100%;
    width: 30rem;
    transform: translate(-30rem);
    transition: .3s;

    background-color: #222222;
    color: #ffffff;
    padding: 1rem;
}
.sidebar.open{
    transform: translate(0);
}
.sidebar h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.sidebar button{
    font-size: 1rem;
    margin: 1rem;
    padding: .4rem;
    position: absolute;
    top: 0;
    right: 0;
}
.sidebar ul{
    list-style-type: none;
}
.sidebar ul a{
    color: #ffffff;
    text-decoration: none;
}
.sidebar ul a li{
    padding: 1rem;
    font-size: 1.4rem;
}
.sidebar ul a li:hover{
    background-color: #000000;

}

/* main */
.main{
    grid-area: main;
    padding: 5rem 2rem;
}
.characters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* footer */
.footer{    
    background-color: #808080;
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
}

/* character */
.character{
    display: flex;
    position: relative;
    cursor: pointer;
}
.character .character-name{
    display: flex;
    justify-content: center;

    position: absolute;
    width: 15rem;
    bottom: 0;

    color: #ffffff;
    text-shadow: 0 0 .4rem #000000;
    font-size: 1.6rem;
}
.character:hover .character-name{
    color:#000000;
    text-shadow: 0 0 .4rem #ffffff;
    font-size: 2rem;
}