.register{
    width: 50rem;
    height: 100%;
    margin: 0 auto;
    padding: 4rem;
  }
  /* Sign Up */
  .sign-up h3{
    font-size: 3.4rem;
    text-align: center;
  }
  .sign-up form{
    width: 30rem;
    margin: auto;
  }
  .register-fieldset{
    border: none;
    margin: 2.4rem 0;
  }
  .register-fieldset legend{
    font-size: 1.2rem;
  }
  .register-input{
    width: 100%;
    padding: 1.4rem;
    margin-top: .2rem;
    font-size: 1.4rem;
  
    outline: none;
    border: .1rem #cccccc solid;
    border-radius: .6rem;
  }
  .register-input:focus{
    border: .1rem #999999 solid;
  }
  .sign-up form button{
    width: 100%;
    padding: 1.4rem;
    margin-top: 1.2rem;
    font-size: 1.4rem;
  
    background-color: #dddddd;
    outline: none;
    border: .1rem #cccccc solid;
    border-radius: .6rem;
    transition: .2s;
    cursor: pointer;
  }
  .sign-up form button:hover{
    background-color: #eeeeee;
  }
  .sign-up form button:active{
    border: .1rem #999999 solid;
    background-color: #888888;
  }